<h1>Categorias</h1>

{{link-to "Criar categoria" "categories.new"}}

{{#each model as |category|}}
	<p>
		{{category.name}}
		{{link-to "Editar" "categories.edit" category}}
		<button {{action 'destroy'}}>Deletar</button>
	</p>
{{/each}}
